## Chapter 3
## Introduction to python

In [2]:
# Process of Writting a program
# 1) my 1st Program
print("Hello World !")

Hello World !

In [12]:
# Using Comments
# "#" symbol used to comment a line

# 1) 
# compute the Average of the values
# avg = sum/number

# 2)
x = 5 # assign 5 to x
# avg = Sum/x #compute the average.
# per = (Sum*100)/500 #compute  percentage.

# 3) Multiline Comments
"""
This is an example
of multiline comments
"""

'\nThis is an example\nof multiline comments\n'

#### Example 1

In [21]:
# Demo of backslash (\)
print('1st Output')
print('A\nB\nC')
print('2nd Output')
print('a\nb\nc')
print('3rd Output')
print('a\tb\tc')

1st Output
A
B
C
2nd Output
a
b
c
3rd Output
a	b	c

##### Keywords/Reserved Words

In [24]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

##### Strings Literals

In [ ]:
# A string literals also spam multilines
'''
This is a String
spans several lines
because it is a little long.
'''

##### Numeric Literals

In [29]:
a = 7 # integers literal
b = 25.7 # float literal
c = 3.14j # Complex literal
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

##### Boolean Literals

In [36]:
isboolean = True # Boolean Literals
print(type(isboolean))

<class 'bool'>

##### Variables

In [38]:
x = 5 # name x to represent 5.
y = x * 2 # 5 multiplies with 2.
print('The result is',y)

The result is 10

##### Notation of a variable.

In [2]:
Counter = 100 # An integer assignment.
miles = 1000.0 # A floating point assginment.
name = "Millan" # A string assignment.
print(type(Counter))
print(type(miles))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

##### Check the address of a variable

In [12]:
name = "Millan"
nick_name = "Millan"
x = "Millan"
x1 = "Dibya"
x2 = "Dibya"
x3 = "Dibyajyoti"
print(id(name))
print(id(nick_name))
print(id(x))
print(id(x1))
print(id(x2))
print(id(x3))

140167123041072
140167123041072
140167123041072
140167123058992
140167123058992
140167123051504

##### Let's Try

In [13]:
a = b = c = "Same" # assigning the same text to multiple variables
print(a)
print(b)
print(c)

Same
Same
Same

##### Let's Try

In [14]:
# Assigning multiples values to multiple variables
x,y,z = 2,4.7,"Welcome"
print(x)
print(y)
print(z)

# Assigning None to Variable
begin = None

2
4.7
Welcome

##### L-value and R-value(Left and Right hand Side)

In [15]:
a = 2 # Valid assignment
b = 7 # valid assignment
2 = a # invalid assignment produces an error
7 = b # invalid assignment produces an error

SyntaxError: cannot assign to literal (<ipython-input-15-4d078789b556>, line 3)

##### Mutable and Imutable Variables

In [17]:
x = 5 # Will create a value 5 refferd by x.
y = x # Will make y refer to 5 of x.
x = x + y # In this statement LHS(x),will rebuild to 10.
print(x)
print(y)

# Imutable :- Object with an fixed value.
# Mutable :- Object whose value may chnage.

10
5

##### Variable Assginment and Accepting input

In [20]:
print("Enter your Name :- ")
x = input()
print("Hello, "+x,"!")

Enter your Name :-
Hello, millan !

##### Let's Try

In [22]:
x = int(input("Input first number :- "))
y = int(input("Input second number :- "))
z = int(input("Input Third number :- "))
print("Numbers are : ",x,y,z)

Numbers are :  5 6 2

##### Working With Dynamic Typing

In [25]:
x = 20
print(x)
print(id(x))
x = "seven"
print(x)
print(id(x))
#                       points to be noted ::
# here different values assginged to the same variable so their IDs are different.
# if we assgined same values to different variables then their IDs will be same.

20
140167573650320
seven
140167123107568

#### Constants

In [26]:
# They represents value directly
print(123)
print(98.6)
print("Hello World!")
vowels = "a,e,i,o,u"

123
98.6
Hello World!

##### Let's Try

In [28]:
print(63)
print(75.5)
print("Hello ! How are you ")
name = "Shiva"
print(name)

63
75.5
Hello ! How are you
Shiva

#### Literal Constants

In [48]:
# Examples :: 5,1.23 or Strings:- "This is a String","It's a string!."
# Escape Sequences
print("Vivek says, \"Hello!\" ")
#       or
print("Vivek says,",'"Hello!"' )
print('vivek\'s shirt is blue.')

print(r"vivek says,\"The shirt\'scolour is blue.\"")
# without r
print("vivek says,\"The shirt\'scolour is blue.\"")

Vivek says, "Hello!"
Vivek says, "Hello!"
vivek's shirt is blue.
vivek says,\"The shirt\'scolour is blue.\"
vivek says,"The shirt'scolour is blue."

In [49]:
# Complex numbers
x = 3 + 1j
print(x.real,x.imag)

3.0 1.0

##### Example 2

In [52]:
# Program demonstrating working of typecasting.
x = 10
y = "2"
z = int(y) # convert string to integer using int()
sum = x + z
print(sum)

print(type(72))
print(type("string"))
print(type(98.7))

12
<class 'int'>
<class 'str'>
<class 'float'>

##### Let's try

In [53]:
print(type(4))
print(type(3.14))
print(type(2.0))
a = -53
print(type(a))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>